.project {
	display: flex;
	flex-direction: column;
}

.name {
	margin: 0px;
}

.image {
	width: 65%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.main-description {
	width: 90%;
	font-weight: 400;
}

.description {
	width: 90%;
}

.tags {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-bottom: 24px;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 26px;
	margin-bottom: 16px;
}

.icon {
	width: 20px;
}

.url {
	color: #535353;
	font-size: 14px;
}

.url a {
	text-decoration: none;
}

.url a:visited {
	color: #535353;
}
