@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 0;
}

h1 {
	font-size: 24px;
	font-weight: 400;
}
