.about {
	width: 705px;
	max-width: 705px;
	text-align: left;
	margin-top: 70px;
	color: #282828;
}

.about p {
	margin-bottom: 30px;
	line-height: 1.5;
}

.link a {
	/* text-transform: uppercase; */
	/* font-style: italic; */
	color: #282828;
}

.link a:hover,
.link a:active,
.link a:visited {
	font-weight: 400;
}
